@import url("https://fonts.googleapis.com/css?family=Inclusive%20Sans:700|Inclusive%20Sans:400");
:root {
  --text: hsl(0, 60%, 3%);
  --background: hsl(0, 20%, 99%);
  --primary: hsl(15, 90%, 50%);
  --secondary: hsl(0, 77%, 72%);
  --accent: hsl(0, 96%, 62%);
}
:root[data-theme="dark"] {
    --text: hsl(0, 60%, 97%);
    --background: hsl(0, 20%, 1%);
    --primary: hsl(15, 100%, 50%);
    --secondary: hsl(0, 77%, 28%);
    --accent: hsl(0, 96%, 38%);
    --accent2: hsl(0, 0%, 5%);
  }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body {
  font-family: "Inclusive Sans", sans-serif;
  font-weight: 400;
  background-color: var(--background);
  color: var(--text);
}
.ContentProps {
  max-width: 90%;
  margin: 0 auto;
  padding: 1.5rem;
}
h1, h2, h3, h4, h5 {
  font-weight: 700;
}
h1 {font-size: 4.210rem;}
h2 {font-size: 3.158rem;}
h3 {font-size: 2.369rem;}
h4 {font-size: 1.777rem;}
h5 {font-size: 1.333rem;}
section{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 6rem;
    text-align: center;
}
section h2{
    font-weight: bold;
    letter-spacing: 0.1em;
    color: var(--text);
    text-transform: uppercase;
    margin-bottom: 2.5rem;
}
section p{
    color: var(--text2);
    margin-bottom: 2.5rem;
    letter-spacing: 0.1em;
}
[data-theme="dark"] section p{
  color: var(--text);
}

header{
  backdrop-filter: blur(.5rem);
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  padding: 35px 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all .5 ease;
}
header .logo img{
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 26.65rem;
  object-fit: contain;
}
.navlist{
  display: flex;
}
.navlist li{
  list-style: none;
}
.navlist a{
  display: inline-block;
  margin: 0 35px;
  color: var(--text);
  transition: all .6s ease;
}
.navlist a:hover{
  color: var(--primary);
}
header .right-content{
  display: flex;
  align-items: center;
}
#theme-toggle{
  font-size: 1.5rem;
  cursor: pointer;
  background: none;
  border: none;
  color: var(--text);
}
#menu-icon{
  font-size: 42px;
  z-index: 10001;
  cursor: pointer;
  margin-left: 25px;
  display: none;
}
@media(max-width:950px){
  #menu-icon{
    display: block;
  }
  .navlist{
    position: absolute;
    width: 100%;
    height:100vh;
    padding: 100px 50px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 100%;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(32px);
    transition: all .6s ease-in-out;
  }
  .navlist a{
    display: block;
    padding: 0;
    margin: 0px 0px 25px 0px;
    font-size: 1.7rem;
  }
  .open{
    left: 0;
  }
}

.hero {
  width: auto;
}

.hero .wrapper {
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 80rem;
}
@media (max-width: 1300px){
  .hero .wrapper{
    margin: 0 0;
    padding: 0;
  }
}

.hero .text-container {
  max-width: 45rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: left;
}
.hero .text-container p{
  margin: 0;
}
.hero .text-container h1 {
  font-weight: bold;
  letter-spacing: 0.1em;
  color: var(--text);
  text-transform: uppercase;
}

.hero .text-container span {
  color: var(--primary);
}

.buttons {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.buttons .active {
  background-color: var(--primary);
  color: var(--text);
  font-weight: bold;
  font-size: 1.125rem;
  padding: 1rem;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 15px 1px var(--secondary);
  -moz-box-shadow: 0px 0px 15px 1px var(--secondary);
  box-shadow: 0px 0px 15px 1px var(--secondary);
  transition: .3s ease;
}
.hero .buttons .active:hover{
  background-color: var(--secondary);
}

.hero .image-container img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 26.65rem;
  object-fit: contain;
}
@media (max-width: 1200px) {
  .ContentProps{
    max-width: 100%;
  }
  .hero .wrapper {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .hero .text-container {
    text-align: left;
    width: 100%;
    overflow-wrap: break-word;  
  }
  .hero .text-container h1{
    font-size: 3.8rem;
  }
  .hero .image-container {
    display: none;
  }
}

#RentalFleet{
  width: auto;
}

.container {
  display: grid;
  grid-template-areas:"sidebar main info";
  grid-template-columns: 1.25fr 3fr 1.25fr;
  max-width: 100%;
}
.Bike-list-container {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding:0 1rem;
  border-radius: 10px;
  background-color: var(--background);
  
}
[data-theme="dark"] .Bike-list-container,
[data-theme="dark"] .Details{
  background-color: var(--accent2);
  color: var(--text);
}
.Bike {
    text-decoration: underline;
  cursor: pointer;
  padding: 0.5rem;
  text-align: center;
  transition: 0.3s ease , transform 0.2s;
}
.Bike:hover {
  background-color: var(--secondary);
  transform: scale(1.05);
}
.Bike.active {
  background-color: var(--accent);
  color: var(--text);
  font-weight: bold;
  font-size: 1.125rem;
  -webkit-box-shadow: 0px 0px 15px 1px var(--secondary);
  -moz-box-shadow: 0px 0px 15px 1px var(--secondary);
  box-shadow: 0px 0px 15px 1px var(--secondary);
}
[data-theme="dark"] .Bike.active{
    color: var(--text);
}
.image-preview {
  grid-area: main;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items:start;
}
.image-preview img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 26.65rem;
  object-fit: contain;
}
.Details {
  grid-area: info;
  border-radius: 10px;
  text-align: center;
  background-color: var(--background);
}
.details-table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
}
.details-table caption {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.5rem;
  color: var(--text);
  background: var(--accent);
  border-radius: 10px 10px 0 0;
}
.details-table td {
  border: 1px solid black;
  padding: 0.75rem;
  font-size: 1rem;
  font-weight: bold;
  color: var(--text);
  text-align: left;
}
.Details .buttons{
  width: 100%;
}
.Details .buttons a{
  width: 100%;
}
@media (max-width: 768px) {
    .container {
      grid-template-areas:
        "sidebar"
        "main"
        "info";
      grid-template-columns: 1fr;
    } 
    .container,
    .Bike-list-container,
    .image-preview,
    .Details {
      gap: 1rem;
      padding: 0;
    }
  }